li {
  font-size: 2rem;
}

body {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

input {
  width: 10rem;
}

.navbar {
  background-color: rgb(70, 168, 175);
}

body {
  background-color: rgb(26, 63, 163);
}

li:hover {
  color: rgb(0, 68, 255);
}
